<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WiredWhimsy Blog</title>
    {{! <link rel="stylesheet" type="text/css" href="/public/css/style.css" /> }}
  </head>

  <body>
    <header>
      <h1>Welcome to WiredWhimsy!</h1>
      <nav>
        {{#if loggedIn}}
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          <a href="/create">Create Post</a>
          <a href="/logout">Logout</a>
        {{else}}
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
          <a href="/login">Login</a>
          <a href="/sign_up">Sign Up</a>
        {{/if}}
      </nav>
    </header>

    <main>
      <h2>Get wired in...</h2>

      {{{body}}}

    </main>

    <foot>
      <p>WiredWhimsy by
        <a href="https://github.com/ltrokey">Lacey Trokey</a></p>
    </foot>

  </body>

</html>