{{#each posts as |post|}}
  <div class="post">
    <h3>{{post.title}}</h3>
    <p class="post-meta">Posted by {{post.user.username}} on {{format_date created_at}}</p>
    <p>{{post.body}}</p>
  </div>
{{/each}}
